[Desktop Entry]
Name[de]=Luna
Name[es]=Luna
Name[fr]=Luna
Name[pt_br]=Luna
Name=Luna
Comment[de]=Ein fantastisches Kalender Widget 
Comment[es]=Un asombroso widget calendario
Comment[fr]=Un widget calendrier fantastique 
Comment[pt_br]=Un asombroso widget calendario
Comment=An amazing calendar widget 
Icon[de]=com.github.calo001.luna
Icon[es]=com.github.calo001.luna
Icon[fr]=com.github.calo001.luna
Icon[pt_br]=com.github.calo001.luna
Icon=com.github.calo001.luna
Exec=com.github.calo001.luna
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
Keywords[de]=kalender;tag;monat;jahr;
Keywords[es]=calendario;dia;mes;anio;
Keywords[fr]=calendrier;jour;mois;année;
Keywords[pt_br]=calendario;dia;mes;anio;
Keywords=calendar;day;month;year;
